/ {
        chosen {
                zephyr,code-partition = &boot_partition;
        };
};

&flash0 {
        /delete-node/ partitions;

        partitions {
                compatible = "fixed-partitions";
                #address-cells = <1>;
                #size-cells = <1>;
                ranges;

                boot_partition: partition@0 {
                        label = "mcuboot";
                        reg = <0x00000000 0x0000C000>;
                        read-only;
                };

                slot0_partition: partition@c000 {
                        label = "image-0";
                        reg = <0x0000C000 0x0000A000>;
                };

                slot1_partition: partition@16000 {
                        label = "image-1";
                        reg = <0x00016000 0x0000A000>;
                };
        };
};
