/ {
        chosen {
                zephyr,code-partition = &slot0_partition;
                zephyr,uart-mcumgr = &usart1;
        };
};

&flash0 {
        /delete-node/ partitions;

        partitions {
                compatible = "fixed-partitions";
                #address-cells = <1>;
                #size-cells = <1>;
                ranges;

                boot_partition: partition@0 {
                        label = "mcuboot";
                        reg = <0x00000000 0x0000B000>; /* 44 KB */
                        read-only;
                };

                slot0_partition: partition@b000 {
                        label = "image-0";
                        reg = <0x0000B000 0x0000A800>; /* 42 KB */
                };

                slot1_partition: partition@15800 {
                        label = "image-1";
                        reg = <0x00015800 0x0000A800>; /* 42 KB */
                };
        };
};

&usart1 {
        pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
        pinctrl-names = "default";
        current-speed = <115200>;
        status = "okay";
};
